.operations{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 10px;
}

.btn{
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  transition: 0.7s;
  cursor: pointer;
}

.btn:hover{
  color: white;
  background-color: #222239;
}
