.container{
  width: 100%;
  padding-top: 90px;
  margin-left: 1.5rem;
}

.title-container{
  display: flex;
  margin-left: 1rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title{
  font-size: 1.2rem;
  font-weight: lighter;
}

hr{
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.name-tag{
  font-weight: bold;
  width: fit-content;
}

.danger{
  color: red;
}

.hour-info-container{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.date-picker-container{
  width: fit-content;
}

mat-label{
  padding-left: 10px;
}

mat-form-field{
  height: fit-content;
  width: 15rem;
  border: 1px solid #CED4DA;
  margin-bottom: 10px;
  border-radius: 10px;
}

::ng-deep mat-form-field > .mdc-text-field{
  padding: 0px;
}

::ng-deep .mat-mdc-form-field-flex{
  flex-direction: row-reverse;
}

::ng-deep mat-form-field > .mat-mdc-form-field-infix{
  padding: 0;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target{
  height: 20px;
  border: 1px solid #CED4DA;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

::ng-deep .mat-mdc-form-field-bottom-align{
  display: none;
}

section{
  width: 50%;
  max-height: 30rem;
}

input{
  width: 5rem;
  padding-left: 10px;
}

th{
  text-align: center;
}

#icon-line{
  text-align: right;
}

mat-icon:hover {
  color: #E75C01;
  cursor: pointer;
}

.red{
  color: red;
}

.today-row{
  background-color: #ECF3F8;
}
