main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: fit-content;
}

.dialog-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 20px solid #222239;
}

.dialog-header h1{
  padding: 0 auto;
  font-size: 20px;
  font-weight: normal;
}

table{
  box-shadow: none;
  border: 1px solid black;
}

th{
  background-color: black;
}

.close-btn{
  border: none;
  width: fit-content;
  height: fit-content;
  background-color: white;
  cursor: pointer;
  margin: 0 10px 0 0;
}

section{
  width: 100%;
}

.info-container{
  font-size: 1.1rem;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

td > input{
  width: 100%;
  text-align: center;
}

#icon-line{
  text-align: center;
}

#icon-line > mat-icon{
  color: lightgray;
  cursor: pointer;
}

textarea{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}

.observations{
  margin-top: 15px;
}

.operations{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 10px;
}

.btn{
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  transition: 0.7s;
  cursor: pointer;
}

.btn:hover{
  color: white;
  background-color: #222239;
}
