<main class="container">
  <section class="operations-container">
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      Metodologia
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      GLPI
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      E-mail
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      Lista de Ramais
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      Temporário
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      Mantis
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      CRM
    </button>
    <button class="operation">
      <mat-icon class="icon">
        light
      </mat-icon>
      Recrutamento
    </button>
  </section>
</main>
