<main>
  <section class="container">
    <h1 class="title">Momentos em que a XXXXX está presente</h1>

    <div class="card-container">
      <div class="card">
        <img src="https://picsum.photos/100/100" alt="">
        <h2>DESIGN</h2>
        <h3>Concepção e Modelagem de Soluções</h3>
      </div>

      <div class="card">
        <img src="https://picsum.photos/100/100" alt="">
        <h2>CONSTRUÇÃO</h2>
        <h3>Desenvolvimento e Implantação de Soluções</h3>
      </div>

      <div class="card">
        <img src="https://picsum.photos/100/100" alt="">
        <h2>EVOLUÇÃO</h2>
        <h3>Atualização e Sustentação de Soluções</h3>
      </div>

      <div class="card">
        <img src="https://picsum.photos/100/100" alt="">
        <h2>INOVAÇÃO</h2>
        <h3>Dirupção Funcional Tecnológica ou Negocial</h3>
      </div>
    </div>
  </section>
</main>
