main{
  width: 100%;
}

.container{
  color: #ffffff;
  display: flex;
  height: 40rem;
  flex-direction: column;
  background-color: #E75C01;
  padding-top: 3.5rem;
}

.container .title{
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.card-container{
  display: flex;
  max-width: 100%;
  gap: 5rem;
  justify-content: center;
  padding-top: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  text-align: center;
  gap: 1rem;
  max-width: 15rem;
}

.card h2{
  font-size: 1.75rem;
}

.card h3{
  font: 1rem;
  font-weight: lighter;
}

@media (max-width: 1200px){

  .card-container{
    gap: 2rem;
  }

  .card h2{
    font-size: 1rem;
  }

  .card h3{
    font: .5rem;
  }
}


@media (max-width: 414px){

  .container .title{
    font-size: 1.5rem;
  }

  .container{
    height: 100%;
  }

  .card-container{
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10rem;
  }
}
